/*
    main styles for the application
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f5f5f5;
}

/* main */
main {
    padding: 20px;
    text-align: center;
    align-items: center;
}

.search {
    margin: 20px 0;
    height: 20px;
    width: 300px;
}

.search-button {
    background-color: #2a8fdb;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.search-button:hover {
    background-color: #1f6fb2;
}

.hr-download {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.apps {
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;

    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.category {
    background-color: #444;
    color: #ffffffa7;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.category:hover {
    background-color: #333;
}

.category h2 {
    font-size: 1.2em;
}

.app-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app strong {
    font-size: 1em;
    color: #444;
}

.app a {
    color: #2a8fdb;
    text-decoration: none;
    transition: color 0.5s;
}

.app a:hover {
    color: #1f6fb2;
}


/* footer */
footer {
    background-color: #444;
    color: #ffffffa7;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}